:root {
    --primary-text-color: #000000;
    --title-text-color: #212121;
    --border-bottom: #ECECEC;
    --accent-color: #2196F3;
    --cover-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --text-color: #757575;
    --portfolo-main-color: #F5F5F5;
    --before-color: #FFFFFF;
    --btn-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --services-color: #F5F4FA;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-btn-color: rgba(0, 0, 0, 0.15);
    --h1-color: #2F303A;
    --button-color: rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 1px solid tomato; */
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--before-color);
    color: var(--title-text-color);
}
/* logo */
.logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--primary-text-color);
}

/* header */

.link {
    text-decoration: none;
}
.studio,
.portfolio,
.web {
    color: var(--accent-color);
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h1,
h2,
h3 {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.header {
    border-bottom: 1px solid;
    border-color: #ECECEC;
    background-color: var(--before-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
}
.two-list {
    display: flex;
    margin-left: auto;
}
.header-item:not(:last-child) {
    margin-right: 50px;  
}
.header-nav-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}
.header-tel-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--accent-color);
}
.header-mail-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em; 
    color: var(--text-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
    color: var(--accent-color);
}
/* main */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-title-btn {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--h1-color);
}
.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--before-color);
}

.hero-btn {
    padding: 10px 32px;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--before-color);
    cursor: pointer;
}
.hero-btn {
    border-radius: 4px;
    border: var(--accent-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--hero-btn-color);
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--btn-color);
}
.page-container {
    display: flex;
}
.page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.page-first {
    display: flex;
    
}
.page-second:not(:last-child) {
    margin-right: 30px;
}
.second-box {
    flex-direction: column;
    flex-basis: 48%;
}
.page-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.page-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.work-text {
    text-align: center;
    margin-bottom: 50px;
}
.hero-img {
    display: flex;
    align-items: center;
    gap: 30px;
}
.work {
    padding-bottom: 94px;
}
.work-about {
    display: block;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.services {
    padding-top: 94px;
}
.services-work {
    text-align: center;
    margin-bottom: 50px;
}
.document {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.services-text {
    margin-top: 10px;
}
.doc-img {
    display: block;
}
.services-before {
    display: flex;
    align-items: center;
    gap: 30px;
}
.services {
   margin-bottom: 94px;
   background-color: var(--services-color);
}
.services-cover {
    background: var(--before-color);
    box-shadow: var(--cover-color);
}
.services-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* footer */
.address {
    margin-top: 20px;
}
.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--before-color);
}
.footer-item:not(:last-child) {
    display: flex;
    display: block;
    margin-bottom: 9px;
}
.footer-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--before-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--h1-color);
}
.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--footer-color);
}
.footer-map:hover,
.footer-map:focus {
    color: var(--accent-color);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
/* portfolio main */
.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-title {
    display: block;
}
.project-container {
    display: inline-block;
    display: flex;
}
.project-hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    gap: 30px;
}
.project-portfolio {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}
.project-title {
    display: block;
}
.first-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.second-title {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.button-container {
    display: block;
    display: flex;
}
.button-hero {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;

}
.button {  
    padding: 6px 22px;
    border-radius: 4px;
    border: var(--services-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--services-color);
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--before-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px var(--button-color);
}